<div class="panel panel-default">
  <div class="panel-heading clearfix">
    <p class="contact-name">{{contact?.name}}</p>
    <div class="row">
      <div class="pull-left">
        <img
          src="{{contact?.imageUrl}}"
          alt="{{contact?.name}}"
          class="img-responsive"
          style="max-height:100px;
          padding-left:12px">
      </div>
      <div class="pull-right" style="margin-right: 10px; margin-top: 80px">
        <button class="btn btn-primary button-edit">Edit</button>
        <button class="btn btn-danger button-delete">Delete</button>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="pad-left-right">
    <div class="row">
      <label>Email:</label>
      <span class="label-value">{{contact?.email}}</span>
    </div>
      <br>
     <div class="row">
       <label>Phone:</label>
       <span class="label-value">{{contact?.phone}}</span>
     </div>
    </div>
  </div>
</div>




