<nav class="navbar navbar-default" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/documents">WeLearn CMS</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/documents">Documents</a>
      </li>
      <li routerLinkActive="active"><a routerLink="/messages">Messages</a></li>
      <li routerLinkActive="active"><a routerLink="/contacts">Contacts</a></li>
    </ul>
    <button
      class="btn btn-outline-secondary"
      type="button"
      (click)="auth.logout()"
    >
      Sign out
    </button>
  </div>
</nav>
