<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
  <div class="panel-heading">
   <div class="row pad-all">
      <h4 class="title margin-left-right">{{document?.name}}</h4>
      <div class="row pull-right margin-left-right" style="margin-right: 10px; margin-top: 32px">
        <a class="btn btn-primary">View</a>
        <a class="btn btn-info" >Edit</a>
        <a class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="pad-left-right">
      <div class="row">
        <label>Description:</label>
        <div class="label-value">{{document?.description}}</div>
      </div>
      <br>
      <div class="row">
        <label>URL:</label>
        <div class="label-value wordBreak">{{document?.Url}}</div>
      </div>
    </div>
  </div>
</div>

